{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
    <div class="pagina-inicial">
        <header class="cabecalho">
            <h1>Pedidos</h1>
        </header>
        <main class="principal">
            <section class="menu-lateral">
                <nav class="menu-lateral__navegacao">
                    <a href="{% url 'index' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                    <a href="{% url 'novo_pedido' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Novo Pedido</a>
                    <a href="{% url 'pedidos' %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Pedidos</a>
                    <a href="#"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Logoff</a>
                </nav>
            </section>
        </main> 
    </div>       
{% endblock %}